{% extends 'base.html' %}
    {% block code %}
<head>
    <title>About Page</title>
</head>
<h2>About</h2>
<br>
<br>
<p>
    I am Kunal and I am studying at Memorial University of Newfoundland, Canada. Currently I am pursuing my second year in Computer Science.<br><br>
    I am doing a major in Computer Sciences and I'm planning to do a minor in Economics. I am a part of the Computer Science society at Memorial.<br><br><br><br>
    I am familiar with the following languages: <br>
</p>
<img src="https://tse4.mm.bing.net/th?id=OIP.kI6qirzKq3XJ8lESFg0fNgHaEZ&pid=Api&P=0&w=284&h=170" alt="mun" height="200" width="350" align="right">
<ul>
    <li>Python</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>JavaScript</li>
    <li>Django Web Framework</li>
    <li>Flask Web Framework</li>
    <li>Sqlite</li>
    <li>MSExcell</li>
</ul>

    {% endblock%}