{% extends 'base.html' %}
    {% block code %}
<head>
    <title>Projects Page</title>
</head>
<h2>Projects</h2>
<br />
<br>
<br>
<h3>A list of all the projects that I have created are given below:</h3>
<br>
<br>
<ol>
    <li><h3>A currency converter which converts from a specific currency to another.</h3></li>

    <p>This is a very basic currency converter as it has a very limited number of currencies as well as it doesn't update it's values with time. It makes the use of </p>
    <p> HTML, CSS and JavaScript to do the certain calculation. Find the code on my github account by clicking this link:</p>
    <a href="https://github.com/Kunal77689/Currency-Converter.git ">Click here</a>
    <br>
    <li><h3>A sample website which contains job oppurtunities for different interests of people.</h3></li>
    <p>This website is made just for the purpose of practice and doesn't contains original job positions. It is designed with the help of DJANGO Web Framework.</p>
    <p>Here you can look out for different job positions, create your account, sign in and sign out from your account as well as send your biodata with the help of a form.</p>
    <p>The link to my github is given below:</p>
    <a href="https://github.com/Kunal77689/First-Website-practice.git">Click here</a>
    <li><h3>My eportfolio website which your are using right now.</h3></li>
    <p>I have created this website using the flask web framework. Find the code by clicking the below link: </p>
    <a href="3"#>Click here</a>

</ol>
    {% endblock%}
